ASTRO_BLOG_APP_DIR=/home/ubuntu/nginx-blog
ASTRO_BLOG_REPO=git@github.com:acegao9527/astro-blog.git
ASTRO_BLOG_BRANCH=deploy-artifacts
ASTRO_BLOG_HTML_DIR=/home/ubuntu/nginx-blog/html
ASTRO_BLOG_HEALTHCHECK_URL=https://clawasync.com/
ASTRO_BLOG_SSH_KEY=/home/ubuntu/.ssh/astro_blog_deploy_key
ASTRO_BLOG_KEEP_RELEASES=5
