ASTRO_BLOG_APP_DIR=/home/ubuntu/nginx-blog
ASTRO_BLOG_SITE_DIR=/home/ubuntu/astro-blog-src
ASTRO_BLOG_CONTENT_DIR=/home/ubuntu/blog-src
ASTRO_BLOG_SITE_BRANCH=master
ASTRO_BLOG_CONTENT_BRANCH=main
ASTRO_BLOG_HTML_DIR=/home/ubuntu/nginx-blog/html
ASTRO_BLOG_SITE_URL=https://clawasync.com
ASTRO_BLOG_HEALTHCHECK_URL=https://clawasync.com/
ASTRO_BLOG_KEEP_RELEASES=5
